@model IEnumerable<CrickAuctioner.Models.Trophy>

@{
    ViewData["Title"] = "Trophy Management";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Trophy </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrophyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrophyYear)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrophyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrophyYear)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.TrophyId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TrophyId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TrophyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
